<!DOCTYPE html>
<html>
    <%- include head.ejs %>
    <body>
        <%- include nav.ejs %>
        <!-- <%- include jumbotron.ejs %> -->
        <%- include info.ejs %>
        <%- include footer.ejs%>
    </body>


</html>